/* line 1, stdin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, stdin */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, stdin */
body {
  line-height: 1; }

/* line 29, stdin */
ol, ul {
  list-style: none; }

/* line 32, stdin */
blockquote, q {
  quotes: none; }

/* line 35, stdin */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, stdin */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 45, stdin */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  background: url(/static/img/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 57, stdin */
header {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: auto; }

/* line 63, stdin */
.menu {
  display: inline-block;
  width: 30%; }

/* line 67, stdin */
a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 55px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  border-bottom: 3px solid rgba(255, 255, 255, 0); }

/* line 79, stdin */
a:hover {
  border-bottom: 3px solid #ffffff; }

/* line 82, stdin */
#main_title {
  font-size: 50px;
  padding: 0.5%;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  height: auto;
  line-height: 130px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-weight: bold; }

/* line 95, stdin */
#menu {
  width: 100%;
  height: auto; }

/* line 100, stdin */
#main {
  margin-top: 5%; }

/* line 104, stdin */
h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  background: rgba(2, 2, 2, 0.3);
  height: 75px;
  line-height: 70px; }

/* line 113, stdin */
#content {
  margin-left: 2%;
  margin-right: 2%; }

/* line 118, stdin */
#info {
  background: rgba(2, 2, 2, 0.3);
  border-radius: 5px;
  margin: 1%;
  height: 60px;
  margin-left: 20%;
  margin-right: 20%;
  width: 62%; }

/* line 128, stdin */
input {
  width: 64%;
  height: 17px;
  margin-left: 2%;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 2%;
  border-radius: 5px;
  padding: 1%; }

/* line 139, stdin */
.button {
  width: 10%;
  height: 35px;
  margin: 1%;
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: #E3A67D;
  border: solid #E3A67D;
  text-align: center; }

/* line 151, stdin */
.add {
  background-color: #A0D49C;
  border: solid #A0D49C; }

/* line 156, stdin */
.remove {
  background-color: #E3A67D;
  border: solid #E3A67D;
  float: right; }

/* line 162, stdin */
.msg {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1%;
  height: 255px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  padding: 1%;
  color: #164D33; }

/* line 174, stdin */
.product-view {
  width: 100%;
  height: auto; }

/* line 179, stdin */
#img-content {
  float: left;
  width: 49%; }

/* line 184, stdin */
.descripcion {
  float: right; }

/* line 188, stdin */
p {
  display: inline-block; }

/* line 192, stdin */
#descripcion .title {
  font-weight: bold;
  font-size: 22px;
  margin-right: 5%; }

/* line 198, stdin */
#descripcion .price {
  margin-right: 5%;
  margin-top: 15px; }

/* line 203, stdin */
.cost {
  font-size: 19px;
  color: red; }
