<section>
    <h1>Cat&aacutelogo de productos</h1>
    <div id="content">
        <div id="info">
            <input type="text" name="product" ng-model="searchProduct" placeholder="Escribe el nombre de un producto" autofocus />
            <button class="button add" name="button2" ng-click="search()">Buscar</button>
        </div>
        <div id="messages"> 
            <ul>
                <li class="msg" ng-repeat="item in lista | filter: searchProduct" ng-click="remove()">
                    <span ng-bind="item.value"></span>
                    <div id="img-content">
                        <img class="product-view" src="../static/img/{{item.image}}">
                    </div>
                    <div id="descripcion">
                        <p class="title">{{item.title}}</p>
                        <p class="price">Precio de lista: <span class="cost">${{item.price}}</span></p>
                        <p class="tipo">{{item.type}}</p>
                    </div>
                    <button class="button remove" name="button2" ng-click="remove(item.id)">Borrar</button>
                </li>
            </ul>
        </div>
    </div>
</section>